body{
    background-color: #FFFAF2;
}
html{
    cursor:url(http://nikiki.web.fc2.com/smi323.cur),pointer;
}
.form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
}
.form-signin .form-control:focus {
    z-index: 2;
}
.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}


.text-white-50 { color: rgba(255, 255, 255, .5);}

.bg-purple { background-color: var(--purple); }

.border-bottom { border-bottom: 1px solid #FFFAF2; }

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }

.lh-100 { line-height: 1; }
.lh-125 { line-height: 1.25; }
.lh-150 { line-height: 1.5; }

.square {
    height: 100px;
    width: 100px;
}
img {
    height: auto;
    max-width: 80%;
}
    

